* text=auto

*.zig text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.php text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.zon text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf
Makefile text eol=lf
audit text eol=lf
php text eol=lf

*.bin binary
*.gz binary
*.phar binary